.menu_principal {
    display: flex;
    justify-content: space-between;
    background-color: #4d4b4c
}

nav div a,
nav div a:hover {
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.slideshow {
    padding: 10px;
    margin: 10px;
    height: 300px;
}


.quemsomos {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 13px;
    color: white;
}

h1, h2, h3, h4, h5, h6, img {margin: 0;}

@media(max-width: 600px) {
    .slideshow {
        width: 450px;
    }
}